.navbar {

    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align:center;
    /* margin-bottom: 50px; */
   
}

.nh {
   color:  #2ecc71;
}

.nb {
    background-color:  white;
    color: #2ecc71;
    border-color: #2ecc71;
    border: 2px solid #2ecc71; /* Light gray border */
    /* border-radius: 5px; */
    
    font-weight: bold;
}

.nb:hover {
    background-color: #2ecc71; /* Green button */
    color: white; /* White text */
    border: 2px solid #2ecc71; /* White border on hover */
}
